* {
  	box-sizing: border-box;
}
/*index.html*/
body#index {
	margin: 0;
	padding: 0;
}

nav {
	list-style: none;
	text-align: right;
	padding: 0 0px 0 25px;
}

div#logo>a {
	float: left;
	padding: 25 25 25 25px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.5em;
	text-decoration: none;
}

nav li {
	font-size: 1.2em;
	display: inline-block;
	padding: 0 25px 0 25px;
}

.banner {
	background-image: url(../images/background.jpeg);
	background-size: cover;
	background-position: center;
	top: 100px;
	height: 100vh;
	width: 100%
}

h1 {
	font-size: 3.5em;
	color:darkblue;
	text-align: center;
}


p#introduction, #copyright {
	text-align: center;
	font-size: 1.2em;
}

div#footer-row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 5px;
	text-align: center;
}

.footer-column {
	flex: 25%;
	max-width: 25%;
}

/* Responsive layout - one vertical column */
@media (max-width: 800px) {
	.footer-column {
		flex: 100%;
		max-width: 100%;
	}

}

div.button {
	text-align: center;
}

a.button {
	border-radius: 15px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.2em;
	margin: 4px 2px;
	cursor: pointer;
}

/*services.html*/
h1#services {
	margin-left: 12px;
	color:#b307a7;
}

p#product-description {
	font-size: 1.2em;
	margin-left: 12px;
	line-height: 1.6;
}

table {
	border-collapse: collapse;
  	width: 100%;
}

th {
	color:#b307a7;
	text-align: left;
	text-transform: uppercase;
	font-size: 1.2em;
}

td, th {
	border-bottom: 1px solid #ddd;	
}

tr:nth-child(odd) {
	background-color: #f2f2f2;
}

tr {
	font-size: 1.2em;
}

#price-row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 5px;
}

.price-column {
	flex: 33%;
	max-width: 34%;
	padding: 0 5px;
		}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
	.price-column {
		flex: 100%;
		max-width: 100%;
		padding: 0 5px;
	}
}

/*gallery.html*/
p#services-text {
	text-align: center;
	font-size: 3em;
}
		
img.gallery-images {
	margin-top: 8px;
	border-radius: 15px;
	transition: transform .3s; /* Animation */
}

img.gallery-images:hover {
	-ms-transform: scale(1.5); /* IE 9 */
  	-webkit-transform: scale(1.5); /* Safari 3-8 */
  	transform: scale(1.2); 
}

#images-row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 5px;
}

.images-column {
	flex: 25%;
	max-width: 25%;
	padding: 0px 8px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
	.images-column {
		flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
	.images-column {
		flex: 100%;
		max-width: 100%;
	}
}

/*news.html*/
body#news {
    margin: 0 auto;
    width: 60%;
    background-image: url(../images/christmas_background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

ul.news, p.news {
    font-size: 1.2em;
    line-height: 1.6;
}

/*contact.html*/
body#contact {
    margin: 0 auto;
    width: 60%;
}

fieldset {
    border: 3px solid #000000;
    margin-bottom: 20px;
    width: 80%;
}

legend {
    background-color: lightsalmon;
    font-family: Roboto;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}

p#description {
    font-family: sans-serif;
    font-size: 20px;
}

p#requirement, span.requirement {
    color: #ff0000;
}

span.message {
    font-size: 18px;
}

label.days, label.seasons{
    font-weight: 500;
    font-size: 18px;
}

label {
    font-size: 20px;
}

input, textarea {
    background-color: #eee4ed;
    font-size: 20px;
    border: 2px solid #adadad;
}
        
input[type="text"] {
            width: 15em;
}
            
textarea {
    width: 90%;
    height: 10em;
}
